*.log
*.swp

.github
.cache
.temp
.idea
.rn_temp
.DS_Store

CHANGELOG.md

node_modules
coverage
src
config
.husky
.editorconfig
build_doc
.eslintignore
project.config.json
project.tt.json
.stylelintignore
.prettierignore
.prettierrc
lint-staged.config.js
.van-babelrc
vant.config.js
.yarnrc
yarn.lock
tsconfig.json